@inherits Base

@using Syncfusion.Blazor.Charts

<SfChart Theme="ChartTheme.Bootstrap4" Width="90%" Height="300">
    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
    </ChartPrimaryXAxis>
    <ChartPrimaryYAxis>
        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
    </ChartPrimaryYAxis>
    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
    <ChartSeriesCollection>
        <ChartSeries DataSource="@DataSource" Name="asdf" XName="Time" Width="2"
                    Opacity="1" YName="Data" Type="ChartSeriesType.Line">
            <ChartMarker Visible="true" Width="10" Height="10"/>
        </ChartSeries>
    </ChartSeriesCollection>
</SfChart> 

@code{
    [Parameter]
    public IEnumerable<object> DataSource { get; set; }
}