﻿@page "/"
@attribute [Authorize]

@using  Newtonsoft.Json
@using Syncfusion.Blazor.Cards

@inject NavigationManager navigationManager
@inject HttpClient Http
@inject IAuthorizeApi AuthorizeApi 

<h1>@Localizer["Locations"]</h1>

@if (locations == null)
{
    <Loading>@Localizer["Loading"]</Loading>
}
else
{
    <div class="locations-container">
        @foreach (var location in locations)
        {
            <div class="col-lg-4 col-md-6 col-12">
                <SfCard @onclick="@(e => OnClick(location.Id))">
                    <img style="object-fit: contain" src="./images/default.png" />
                    <CardHeader Title="@location.DisplayName" />
                </SfCard>
            </div>
        }
    </div>
}

@code {
    List<LocationDto> locations = null;

    protected override async Task OnInitializedAsync()
    {
        await GetLocations();
    }

    async Task GetLocations()
    {
        ApiResponseDto apiResponse = await AuthorizeApi.GetFromJsonAsyncc("api/location");
        if (apiResponse.StatusCode == Status200OK)
        {
            locations = JsonConvert.DeserializeObject<LocationDto[]>(apiResponse.Result.ToString()).ToList<LocationDto>();
        } 
    }

    void OnClick(int id)
    {
        navigationManager.NavigateTo("/dashboards/" + id);
    }
}
