﻿@page "/sensorTypes"
@attribute [Authorize]

@using Monitoring.Shared.Dto
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups

@inject HttpClient Http
@inject ISuperService superService
@inject NavigationManager NavigationManager

<h1>@Localizer["SensorTypes"]</h1>

<div class="buttons-toolbar">
    <SfButton @onclick="OnCreateButtonClick" CssClass="e-outline" IconCss="e-icons e-add">@Localizer["Add"]</SfButton>
    <SfButton @onclick="OnEditButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-edit">@Localizer["Edit"]</SfButton>
    <SfButton @onclick="OnDeleteButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-delete">@Localizer["Delete"]</SfButton>
</div>

<SfGrid @ref="grid" TValue="SensorTypeDto" AllowPaging="true" >
    <GridEvents 
        RowSelected="RowSelectHandler" 
        RowDeselected="RowDeselectHandler"
        OnActionFailure="ActionFailureHandler"
        TValue="SensorTypeDto"></GridEvents>
    <SfDataManager Url="api/sensortype" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn Field=@nameof(SensorTypeDto.Id) HeaderText="Id" />
        <GridColumn Field=@nameof(SensorTypeDto.Name) HeaderText="@Localizer["Name"]" />
    </GridColumns>
</SfGrid>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="createDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["NewSensorType"]</Header>
        <Content>
            <EditForm Model="@entity" OnValidSubmit="CreateAsync">
                <DataAnnotationsValidator />
                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Name"]</label>
                        <SfTextBox @bind-Value="@entity.Name"></SfTextBox>
                        <ValidationMessage For="@(() => @entity.Name)" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Create"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="editDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["Edit"]</Header>
        <Content>
            <EditForm Model="@entity" OnValidSubmit="EditAsync">
                <DataAnnotationsValidator />
                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Name"]</label>
                        <SfTextBox @bind-Value="@entity.Name"></SfTextBox>
                        <ValidationMessage For="@(() => @entity.Name)" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Edit"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="400px" IsModal="true" ShowCloseIcon="true" @bind-Visible="deleteDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["DeleteConfirm"]</Header>
        <Content>
            @Localizer["DeleteSure"]
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="DeleteAsync" Content="Delete" IsPrimary="true" />
    </DialogButtons>
</SfDialog>


@code  {
    SfGrid<SensorTypeDto> grid;
    bool IsDeleteButtonDisabled = true;
    bool createDialogOpen = false;
    bool editDialogOpen = false;
    bool deleteDialogOpen = false;

    private SensorTypeDto entity = new SensorTypeDto();

    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        superService.ShowError(@Localizer["ErrorOccurred"]);
    }

    public void RowSelectHandler(RowSelectEventArgs<SensorTypeDto> args)
    {
        IsDeleteButtonDisabled = false;
        entity = args.Data;
    }

    public void RowDeselectHandler(RowDeselectEventArgs<SensorTypeDto> args)
    {
        IsDeleteButtonDisabled = true;
    }

    public void OnCreateButtonClick()
    {
        createDialogOpen = true;
    }

    public void OnEditButtonClick()
    {
        editDialogOpen = true;
    }

    public void OnDeleteButtonClick()
    {
        deleteDialogOpen = true;
    }

    public async Task CreateAsync()
    {
        try
        {
            var response = await Http.PostAsJsonAsync($"api/SensorType", entity);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            if (apiResponse.StatusCode == Status200OK)
            {
                entity = new SensorTypeDto();
                grid.Refresh();
                createDialogOpen = false;
                superService.ShowSuccess(@Localizer["CreateSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["CreateFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(@Localizer["CreateFailure"], ex.Message);
        }
    }

    public async Task EditAsync()
    {
        try
        {
            var response = await Http.PutAsJsonAsync($"api/SensorType", entity);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            if (apiResponse.StatusCode == Status200OK)
            {
                entity = new SensorTypeDto();
                grid.Refresh();
                editDialogOpen = false;
                superService.ShowSuccess(@Localizer["EditSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["EditFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(@Localizer["EditFailure"], ex.Message);
        }
    }

    public async Task DeleteAsync()
    {
        try
        {
            var record = await grid.GetSelectedRecords();
            var response = await Http.DeleteAsync("api/sensorType?id=" + record[0].Id);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            if (apiResponse.StatusCode == Status200OK)
            {
                grid.Refresh();
                deleteDialogOpen = false;
                superService.ShowSuccess(@Localizer["DeleteSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["DeleteFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(@Localizer["DeleteFailure"], ex.Message);
        }
    }
}
