﻿@page "/sensorModels"

@attribute [Authorize]

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids

@inject NavigationManager NavigationManager

<h1>@Localizer["SensorModels"]</h1>

<SfGrid  TValue="SensorModelDto" AllowPaging="true">
    <GridEvents OnRecordDoubleClick="OnRecordDoubleClick" TValue="SensorModelDto"/>
    <SfDataManager Url="api/sensorModel" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn Field=@nameof(SensorModelDto.Id) HeaderText="Id">
            <Template>
                @{
                    var sensorModel = context as SensorModelDto;
                    var link = "/admin/sensorModel/" + sensorModel.Id;
                }
                <a class="detail" href="@link">@sensorModel.Id</a>
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(SensorModelDto.Manufacturer) HeaderText="@Localizer["Manufacturer"]" />
        <GridColumn Field=@nameof(SensorModelDto.Model) HeaderText="@Localizer["Model"]" />
        <GridColumn Field=@nameof(SensorModelDto.PowerSupplyVoltage) HeaderText="@Localizer["PowerSupplyVoltage"]" />
    </GridColumns>
</SfGrid>

@code {
    private void OnRecordDoubleClick(RecordDoubleClickEventArgs<SensorModelDto> e)
    {
        NavigationManager.NavigateTo("/admin/sensorModel/" + e.RowData.Id);
    }
}