﻿@page "/sensors"

@attribute [Authorize]

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids

@inject NavigationManager NavigationManager

<h1>@Localizer["Sensors"]</h1>

<SfGrid  TValue="SensorDto" AllowPaging="true">
    <GridEvents OnRecordDoubleClick="OnRecordDoubleClick" TValue="SensorDto"/>
    <SfDataManager Url="api/sensor" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn Field=@nameof(SensorDto.Id) HeaderText="Id">
            <Template>
                @{
                    var sensor = context as SensorDto;
                    var link = "/sensor/" + sensor.Id;
                }
                <a class="detail" href="@link">@sensor.Id</a>
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(SensorDto.DisplayName) HeaderText="@Localizer["Name"]" />
        <GridColumn Field=SensorModel.SensorType.Name HeaderText="@Localizer["SensorType"]" />
        <GridColumn Field=Location.DisplayName HeaderText="@Localizer["Location"]" />
        <AuthorizeView Policy="@Policies.IsAdmin" Context="AuthorizeContext">
            <GridColumn HeaderText="">
                <Template>
                    @{
                        var sensor = context as SensorDto;
                    }
                    <SfButton @onclick="() => EditClick(sensor.Id)" CssClass="oi oi-wrench" />
                </Template>
            </GridColumn>
        </AuthorizeView>
    </GridColumns>
</SfGrid>

@code {
    private void OnRecordDoubleClick(RecordDoubleClickEventArgs<SensorDto> e)
    {
        NavigationManager.NavigateTo("/sensor/" + e.RowData.Id);
    }

    private void EditClick(int id)
    {
        NavigationManager.NavigateTo("/admin/sensor/" + id);
    }
}