﻿@page "/thresholds"
@attribute [Authorize]

@using Monitoring.Shared.Dto

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns

@inject HttpClient Http
@inject ISuperService superService

<h1>@Localizer["Thresholds"]</h1>

<div class="buttons-toolbar">
    <SfButton @onclick="OnCreateButtonClick" CssClass="e-outline" IconCss="e-icons e-add">@Localizer["Add"]</SfButton>
    <AuthorizeView Policy="@Policies.IsAdmin">
        <SfButton @onclick="OnEditButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-edit">@Localizer["Edit"]</SfButton>
    </AuthorizeView>
    <SfButton @onclick="OnDeleteButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-delete">@Localizer["Delete"]</SfButton>
</div>

<SfGrid @ref="grid" TValue="ThresholdDto" AllowPaging="true" AllowSorting="true">
    <GridEvents RowSelected="RowSelectHandler"
                RowDeselected="RowDeselectHandler"
                OnActionFailure="ActionFailureHandler"
                TValue="ThresholdDto"></GridEvents>
    <SfDataManager Url="api/threshold" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn Field=@nameof(ThresholdDto.Id) HeaderText="Id" />
        <GridColumn Field="Sensor.DisplayName" HeaderText="@Localizer["Sensor"]" />
        <GridColumn Field=@nameof(ThresholdDto.UserCreatedBy) HeaderText="@Localizer["CreatedBy"]">
            <Template>
                @{
                    var threshold = context as ThresholdDto;
                    var name = "";
                    if (threshold.UserCreatedBy != null)
                    {
                        name = threshold.UserCreatedBy?.FirstName + " " + threshold.UserCreatedBy?.LastName;
                    }
                }
                @name
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(ThresholdDto.UserModifiedBy) HeaderText="@Localizer["ModifiedBy"]">
            <Template>
                @{
                    var threshold = context as ThresholdDto;
                    var name = "";
                    if (threshold.UserModifiedBy != null)
                    {
                        name = threshold.UserModifiedBy?.FirstName + " " + threshold.UserModifiedBy?.LastName;
                    }
                }
                @name
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(ThresholdDto.MaxValue) HeaderText="@Localizer["MaxValue"]" />
        <GridColumn Field=@nameof(ThresholdDto.MinValue) HeaderText="@Localizer["MinValue"]" />
        <GridColumn Field=@nameof(ThresholdDto.Notified) HeaderText="@Localizer["Notified"]" />
        <GridColumn Field=@nameof(ThresholdDto.Notify) HeaderText="@Localizer["Notify"]" />
    </GridColumns>
</SfGrid>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="createDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["NewThreshold"]</Header>
        <Content>
            <EditForm Model="@createTreshold" OnValidSubmit="CreateAsync">
                <FluentValidator />

                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Sensor"]</label>
                        <SfDropDownList TValue="int?" Placeholder="@Localizer["SelectSensor"]" TItem="SensorDto" DataSource="Sensors" @bind-Value="SensorId">
                            <DropDownListFieldSettings Value="Id" Text="Name" />
                        </SfDropDownList>
                        <ValidationMessage For="@(() => createTreshold.Sensor)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["MinValue"]</label>
                        <SfNumericTextBox TValue="double?" ValidateDecimalOnType="true" Decimals="2" @bind-Value="createTreshold.MinValue" />
                        <ValidationMessage For="@(() => createTreshold.MinValue)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["MaxValue"]</label>
                        <SfNumericTextBox TValue="double?" ValidateDecimalOnType="true" Decimals="2" @bind-Value="createTreshold.MaxValue" />
                        <ValidationMessage For="@(() => createTreshold.MaxValue)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Notify"]</label>
                        <SfTextBox @bind-Value="createTreshold.Notify"></SfTextBox>
                        <ValidationMessage For="@(() => createTreshold.Notify)" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Add"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="editDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["Edit"]</Header>
        <Content>
            <EditForm Model="@entity" OnValidSubmit="EditAsync">
                <FluentValidator />

                <fieldset>
                    @*<div class="form-group">
                        <label>@Localizer["Sensor"]</label>
                        <SfDropDownList TValue="int" Placeholder="@Localizer["SelectSensor"]" TItem="SensorDto" DataSource="Sensors" @bind-Value="@entity.SensorId">
                            <DropDownListFieldSettings Value="Id" Text="Name" />
                        </SfDropDownList>
                        <ValidationMessage For="@(() => @entity.Sensor)" />
                    </div>*@
                    <div class="form-group">
                        <label>@Localizer["MinValue"]</label>
                        <SfNumericTextBox TValue="double?" ValidateDecimalOnType="true" Decimals="2" @bind-Value="@entity.MinValue" />
                        <ValidationMessage For="@(() => @entity.MinValue)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["MaxValue"]</label>
                        <SfNumericTextBox TValue="double?" ValidateDecimalOnType="true" Decimals="2" @bind-Value="@entity.MaxValue" />
                        <ValidationMessage For="@(() => @entity.MaxValue)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Notify"]</label>
                        <SfTextBox @bind-Value="@entity.Notify"></SfTextBox>
                        <ValidationMessage For="@(() => @entity.Notify)" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Edit"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="400px" IsModal="true" ShowCloseIcon="true" @bind-Visible="deleteDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["DeleteConfirm"]</Header>
        <Content>
            @Localizer["DeleteSure"]
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="DeleteAsync" Content="@Localizer["Delete"]" IsPrimary="true" />
    </DialogButtons>
</SfDialog>

@code  {
    [Inject]
    IJSRuntime JsRuntime { get; set; }
    SfGrid<ThresholdDto> grid;
    bool IsDeleteButtonDisabled = true;
    bool createDialogOpen = false;
    bool editDialogOpen = false;
    bool deleteDialogOpen = false;
    public SensorDto[] Sensors { get; set; }
    private ThresholdDto entity = new ThresholdDto();
    private ThresholdCreateDto createTreshold = new ThresholdCreateDto();
    private ThresholdDto selectedEntity;

    public int? SensorId { get; set; }

    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        superService.ShowError(@Localizer["ErrorOccurred"]);
    }

    public void RowSelectHandler(RowSelectEventArgs<ThresholdDto> args)
    {
        IsDeleteButtonDisabled = false;
        selectedEntity = args.Data;
    }

    public void RowDeselectHandler(RowDeselectEventArgs<ThresholdDto> args)
    {
        IsDeleteButtonDisabled = true;
        selectedEntity = null;
    }

    private async Task InitializeSensors()
    {
        if (Sensors != null)
        {
            return;
        }

        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/");
        if (apiResponse.StatusCode == Status200OK)
        {
            Sensors = Newtonsoft.Json.JsonConvert.DeserializeObject<SensorDto[]>(apiResponse.Result.ToString());
        }
        else
        {
            superService.ShowError("Sensor retrieval failed", apiResponse.Message);
            return;
        }
    }

    public async Task OnCreateButtonClick()
    {
        createTreshold = new ThresholdCreateDto();
        SensorId = null;
        await InitializeSensors();
        createDialogOpen = true;
    }

    public void OnDeleteButtonClick()
    {
        deleteDialogOpen = true;
    }

    public async Task OnEditButtonClick()
    {
        entity = selectedEntity;
        await InitializeSensors();
        editDialogOpen = true;
    }

    public async Task CreateAsync()
    {
        try
        {
            Console.WriteLine(123);
            var i = SensorId.HasValue ? SensorId.Value : 0;
            var response = await Http.PostAsJsonAsync($"api/sensor/{i}/AddThreshold", createTreshold);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            if (apiResponse.StatusCode == Status200OK)
            {
                entity = new ThresholdDto();
                grid.Refresh();
                createDialogOpen = false;
                superService.ShowSuccess(Localizer["CreateSuccess"]);
            }
            else
            {
                superService.ShowError(Localizer["CreateFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.HideSpinner();
            superService.ShowError(Localizer["CreateFailure"], ex.Message);
        }
    }

    public async Task EditAsync()
    {
        try
        {
            superService.ShowSpinner();
            var response = await Http.PutAsJsonAsync("api/threshold", entity);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            superService.HideSpinner();
            if (apiResponse.StatusCode == Status200OK)
            {
                grid.Refresh();
                editDialogOpen = false;
                superService.ShowSuccess(@Localizer["EditSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["EditFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.HideSpinner();
            superService.ShowError(@Localizer["EditFailure"], ex.Message);
        }
    }

    public async Task DeleteAsync()
    {
        try
        {
            superService.ShowSpinner();
            var record = await grid.GetSelectedRecords();
            var response = await Http.DeleteAsync("api/threshold?id=" + record[0].Id);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            superService.HideSpinner();
            if (apiResponse.StatusCode == Status200OK)
            {
                grid.Refresh();
                deleteDialogOpen = false;
                superService.ShowSuccess(@Localizer["DeleteSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["DeleteFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.HideSpinner();
            superService.ShowError(@Localizer["DeleteFailure"], ex.Message);
        }
    }
}
