﻿@page "/admin/sensorModel/{Id:int}"

@attribute [Authorize(Policy = Policies.IsAdmin)]

@using Monitoring.Shared.Dto
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Blazored.LocalStorage;
@using System.Globalization

@inject HttpClient Http
@inject ISuperService superService
@inject ISyncLocalStorageService localStorage

@if (_sensorModelDto == null)
{
    <Loading>@Localizer["Loading"]</Loading>
}
else
{
    <BackButton Url="/sensorModels" />
    <h2>@Localizer["SensorModels"]</h2>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <EditForm Model="@_sensorModelDto" OnValidSubmit="@UpdateUser">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Manufacturer"]</label>
                        <SfTextBox @bind-Value="@_sensorModelDto.Manufacturer" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Model"]</label>
                        <SfTextBox @bind-Value="@_sensorModelDto.Model" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["PowerSupplyVoltage"]</label>
                        <SfTextBox @bind-Value="@_sensorModelDto.PowerSupplyVoltage" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Note"]</label>
                        <SfTextBox @bind-Value="@_sensorModelDto.Note" Multiline="true" />
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <SfButton IsPrimary="true" Type="submit">@Localizer["Update"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </div>
        <div class="col-lg-6 col-sm-12 image-container">
            <img class="image" src="@imagePath" alt="Sensor model image" />
            <SfUploader ID="UploadFiles" AllowedExtensions=".png,.jpg,.jpeg" Multiple="false" MaxFileSize="10_000_000" Locale="@CultureInfo.CurrentCulture.Name">
                <UploaderEvents FileSelected="OnFileSelected" Success="@OnSuccessfulUpload" />
                <UploaderAsyncSettings SaveUrl="api/Upload"></UploaderAsyncSettings>
            </SfUploader>
        </div>
    </div>
}

@code  {
    [Parameter]
    public int Id { get; set; }
    private SensorModelDto _sensorModelDto;
    private string type = "sensorModels";

    private string imagePath;

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/sensorModel/" + Id);
        if (apiResponse.StatusCode == Status200OK)
        {
            _sensorModelDto = Newtonsoft.Json.JsonConvert.DeserializeObject<SensorModelDto>(apiResponse.Result.ToString());
            imagePath = GetPath();
        }
        else
        {
            superService.ShowError("Sensor type retrieval failed", apiResponse.Message);
        }
    }

    public void OnSuccessfulUpload(SuccessEventArgs args)
    {
        imagePath = imagePath.Split('?')[0] + "?" + DateTimeOffset.UtcNow.ToUnixTimeSeconds();
    }

    public void OnFileSelected(SelectedEventArgs args)
    {
        var token = localStorage.GetItem<string>("authToken");
        args.CurrentRequest = new List<object> {
            new { Authorization = "bearer " + token },
            new { FileName = GetFileName() },
            new { SubFolder = type }
        };
    }

    private string GetFileName()
    {
        return $"sm{Id}.jpg";
    }

    private string GetPath()
    {
        return "images/" + type + "/" + GetFileName();
    }

    private async Task UpdateUser()
    {
        try
        {
            var response = await Http.PutAsJsonAsync("/api/sensorType", _sensorModelDto);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();

            if (apiResponse.StatusCode == Status200OK)
            {
                superService.ShowSuccess(Localizer["UpdateSuccess"]);
            }
            else
            {
                superService.ShowError(Localizer["UpdateFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(Localizer["UpdateFailure"], ex.Message);
        }
    }
}
