﻿@page "/admin/users"

@attribute [Authorize(Policy = Policies.IsAdmin)]

@using Monitoring.Shared.Dto.Account
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups

@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject ISuperService superService
@inject IAuthorizeApi AuthorizeApi

<h1>@Localizer["Users"]</h1>

<div class="buttons-toolbar">
    <SfButton @onclick="OnCreateButtonClick" CssClass="e-outline" IconCss="e-icons e-add">@Localizer["Add"]</SfButton>
    <SfButton @onclick="OnEditButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-edit">@Localizer["EditRoles"]</SfButton>
    <SfButton @onclick="OnDeleteButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-delete">@Localizer["Delete"]</SfButton>
    <SfButton @onclick="OnResetPasswordButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="oi oi-loop-circular">@Localizer["ResetPassword"]</SfButton>
</div>
<SfGrid @ref="grid" TValue="UserInfoDto" AllowPaging="true">
    <GridEvents RowSelected="RowSelectHandler"
                RowDeselected="RowDeselectHandler"
                OnActionFailure="ActionFailureHandler"
                TValue="UserInfoDto"></GridEvents>
    <SfDataManager Url="api/Admin/Users" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn Field=@nameof(UserInfoDto.UserId) HeaderText="@Localizer["Id"]" Width="300px" />
        <GridColumn Field=@nameof(UserInfoDto.UserName) HeaderText="@Localizer["UserName"]" Width="120px" />
        <GridColumn Field=@nameof(UserInfoDto.Email) HeaderText="@Localizer["Email"]" />
        <GridColumn Field=@nameof(UserInfoDto.PhoneNumber) HeaderText="@Localizer["Phone"]" />
        <GridColumn Field=@nameof(UserInfoDto.FirstName) HeaderText="@Localizer["FirstName"]" Width="120px" />
        <GridColumn Field=@nameof(UserInfoDto.LastName) HeaderText="@Localizer["LastName"]" Width="120px" />
        <GridColumn Field=@nameof(UserInfoDto.Roles) HeaderText="@Localizer["Roles"]" Width="300px">
            <Template>
                <div class="e-control e-chip-list e-lib e-chip-set" role="listbox" aria-multiselectable="false">
                    @{
                        var user = (context as UserInfoDto);
                        foreach (var role in user.Roles)
                        {
                            <div class="e-chip e-focus" tabindex="0" role="option" aria-label="User" aria-selected="false" data-value="">
                                <span class="e-chip-text">@role</span>
                            </div>
                        }
                    }
                </div>
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="createDialogOpen">
    <DialogTemplates>
        <Header>New user</Header>
        <Content>
            <EditForm Model="@createUserDto" OnValidSubmit="CreateAsync">
                <FluentValidator />

                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["UserName"]</label>
                        <SfTextBox @bind-Value="@createUserDto.UserName" />
                        <ValidationMessage For="@(() => @createUserDto.UserName)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Email"]</label>
                        <SfTextBox @bind-Value="@createUserDto.Email" />
                        <ValidationMessage For="@(() => @createUserDto.Email)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Password"]</label>
                        <SfTextBox @bind-Value="@createUserDto.Password" />
                        <ValidationMessage For="@(() => @createUserDto.Password)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["PasswordConfirm"]</label>
                        <SfTextBox @bind-Value="@createUserDto.PasswordConfirm" />
                        <ValidationMessage For="@(() => @createUserDto.PasswordConfirm)" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Create"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="editDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["Edit"]</Header>
        <Content>
            <EditForm Model="@user" OnValidSubmit="EditAsync">
                <fieldset>
                    <div class="form-group">
                        <SfMultiSelect TValue="IEnumerable<string>" @bind-Value="@user.Roles" Placeholder="@Localizer["SelectRole"]" DataSource="@roles" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Edit"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="400px" IsModal="true" ShowCloseIcon="true" @bind-Visible="deleteDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["DeleteConfirm"]</Header>
        <Content>
            @Localizer["DeleteSure"]
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="DeleteAsync" Content="@Localizer["Delete"]" IsPrimary="true" />
    </DialogButtons>
</SfDialog>

<SfDialog Width="400px" IsModal="true" ShowCloseIcon="true" @bind-Visible="resetPasswordDialogOpen">
    <DialogTemplates>
        <Header>@(Localizer["ResetPasswordManual"] + user.UserName)</Header>
        <Content>
            <EditForm Model="@adminResetPassword" OnValidSubmit="ResetUserPasswordAsync">
                <DataAnnotationsValidator />
                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Password"]</label>
                        <SfTextBox @bind-Value="@adminResetPassword.Password" />
                        <ValidationMessage For="@(() => @adminResetPassword.Password)" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Reset"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {
    SfGrid<UserInfoDto> grid;
    bool IsDeleteButtonDisabled = true;
    bool createDialogOpen = false;
    bool editDialogOpen = false;
    bool deleteDialogOpen = false;
    private List<string> roles;
    bool resetPasswordDialogOpen = false;
    AdminResetPasswordDto adminResetPassword = new AdminResetPasswordDto();

    private UserInfoDto selectedEntity;
    public UserInfoDto user { get; set; } = new UserInfoDto();
    CreateUserDto createUserDto { get; set; } = new CreateUserDto();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<ApiResponseDto>("api/account/ListRoles");
        if (response.StatusCode == Status200OK)
        {
            roles = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(response.Result.ToString());
        }
    }

    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        superService.ShowError(@Localizer["ErrorOccurred"]);
    }

    public void RowSelectHandler(RowSelectEventArgs<UserInfoDto> args)
    {
        IsDeleteButtonDisabled = false;
        selectedEntity = args.Data;
    }

    public void RowDeselectHandler(RowDeselectEventArgs<UserInfoDto> args)
    {
        IsDeleteButtonDisabled = true;
        selectedEntity = null;
    }

    public void OnCreateButtonClick()
    {
        createDialogOpen = true;
    }

    public void OnEditButtonClick()
    {
        user = selectedEntity;
        editDialogOpen = true;
    }

    public void OnDeleteButtonClick()
    {
        deleteDialogOpen = true;
    }

    public void OnResetPasswordButtonClick()
    {
        resetPasswordDialogOpen = true;
    }

    public async Task CreateAsync()
    {
        if (createUserDto.Password != createUserDto.PasswordConfirm)
        {
            superService.ShowWarning("Passwords do not match");
            return;
        }

        try
        {
            ApiResponseDto apiResponse = await AuthorizeApi.PostAsJsonAsyncc("api/Account/Create", createUserDto);
            if (apiResponse.StatusCode == Status200OK)
            {
                createUserDto = new CreateUserDto();
                createDialogOpen = false;
                grid.Refresh();
                superService.ShowSuccess("User successfully created");
            }
            else
            {
                superService.ShowError("User creation Failed", apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError("User creation Failed", ex.Message);
        }
    }

    public async Task ResetUserPasswordAsync()
    {
        var record = await grid.GetSelectedRecords();
        var response = await Http.PostAsJsonAsync("api/Account/AdminUserPasswordReset/" + record[0].UserId.ToString(), adminResetPassword);
        var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
        if (apiResponse.StatusCode == Status204NoContent || apiResponse.StatusCode == Status200OK)
        {
            superService.ShowSuccess("Password Reset", apiResponse.Message);
        }
        else
        {
            superService.ShowError(apiResponse.Message);
        }
        resetPasswordDialogOpen = false;
        adminResetPassword = new AdminResetPasswordDto();
    }

    public async Task EditAsync()
    {
        try
        {
            if (user.Roles == null)
            {
                user.Roles = System.Array.Empty<string>();
            }
            superService.ShowSpinner();
            var response = await Http.PutAsJsonAsync($"api/account", user);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            superService.HideSpinner();
            if (apiResponse.StatusCode == Status200OK)
            {
                user = new UserInfoDto();
                grid.Refresh();
                editDialogOpen = false;
                superService.ShowSuccess(@Localizer["EditSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["EditFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.HideSpinner();
            superService.ShowError(@Localizer["EditFailure"], ex.Message);
        }
    }

    public async Task DeleteAsync()
    {
        try
        {
            var record = await grid.GetSelectedRecords();
            var response = await Http.DeleteAsync("api/Account/" + record[0].UserId.ToString());
            if (response.StatusCode == System.Net.HttpStatusCode.OK)
            {
                superService.ShowSuccess("User Deleted");
                deleteDialogOpen = false;
                grid.Refresh();
            }
            else
            {
                superService.ShowError("User Delete Failed");
            }
        }
        catch (Exception)
        {
            superService.ShowError("User Delete Failed");
        }
    }
}
