﻿@page "/account/confirmemail/{UserId}"

@using Monitoring.Shared.Dto.Account
@using System.Threading
@using Monitoring.Client.Extensions

@layout LoginLayout
@inject NavigationManager navigationManager
@inject IAuthorizeApi AuthorizeApi

@if (_isConfirming) {
    <div>Please wait, confirming email...</div> 
} else {
    <div>@_result</div>
}

@code {
    private ConfirmEmailDto confirmEmailParameters { get; set; } = new ConfirmEmailDto();

    [Parameter]
    public string UserId { get; set; }

    private bool _isConfirming = true;
    private string _result;

    protected override async Task OnInitializedAsync()
    {
        navigationManager.TryGetQueryString<string>("token", out var token);

        if (!string.IsNullOrEmpty(UserId) && !string.IsNullOrEmpty(token))
        {
            confirmEmailParameters = new ConfirmEmailDto
            {
                Token = token,
                UserId = this.UserId
            };
            await SendConfirmation();
        }
        else
        {
            _isConfirming = false;
            _result = "Token or user id is wrong";
        }
    }

    private async Task SendConfirmation()
    {
        try
        {
            var response = await AuthorizeApi.ConfirmEmail(confirmEmailParameters);
            _isConfirming = false;
            if (response.StatusCode == Status200OK)
            {
                _result = "Confirmation success. You will be redirected to login in 5 seconds.";
                base.StateHasChanged();
                await Task.Delay(5000).ConfigureAwait(false);
                navigationManager.NavigateTo("/account/login");
            }
            else
            {
                _result = "Confirmation failed. Please contact administrator.";
                base.StateHasChanged();
            }

        }
        catch (Exception)
        {
            _isConfirming = false;
            _result = "Confirmation failed";
        }
    }
}
