﻿@page "/account/profile"
@attribute [Authorize]

@using Monitoring.Shared.Dto.Account
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject ISuperService superService
@inject IAuthorizeApi AuthorizeApi

<h1>@Localizer["UserProfile"]</h1>
@if (userInfo == null)
{
    <Loading>@Localizer["Loading"]</Loading>
}
else
{
    <SfButton IsPrimary="true" @onclick="@(() => OpenChangePasswordDialog())">@Localizer["ChangePassword"]</SfButton>
    <EditForm Model="@userInfo" OnValidSubmit="@UpdateUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <fieldset>
            <div class="form-group">
                <label>@Localizer["UserName"]</label>
                <SfTextBox @bind-Value="@userInfo.UserName" Readonly="true" />
            </div>
            <div class="form-group">
                <label>@Localizer["Email"]</label>
                <SfTextBox @bind-Value="@userInfo.Email" Readonly="true" />
            </div>
            <div class="form-group">
                <label>@Localizer["FirstName"]</label>
                <SfTextBox @bind-Value="@userInfo.FirstName"  />
            </div>
            <div class="form-group">
                <label>@Localizer["LastName"]</label>
                <SfTextBox @bind-Value="@userInfo.LastName" />
            </div>
            <div class="form-group">
                <label>@Localizer["Phone"]</label>
                <SfTextBox @bind-Value="@userInfo.PhoneNumber" />
            </div>
            <div class="form-group">
                <strong>@Localizer["Roles"]</strong><br />
                <SfChipList >
                    <ChipCollection>
                    @if (userInfo.Roles == null || !userInfo.Roles.Any())
                    {
                        <span>@Localizer["None"]</span>
                    }
                    else
                    {
                        foreach (var role in userInfo.Roles)
                        {
                            <ChipListChip Text="@role" />
                        }
                    }
                    </ChipCollection>
                </SfChipList>
            </div>
            <div class="form-group d-flex justify-content-end">
                <SfButton IsPrimary="true" Type="submit">@Localizer["UpdateProfile"]</SfButton>
            </div>
        </fieldset>
    </EditForm>

    <SfDialog @bind-Visible="_resetPasswordDialogOpen" Width="500px" ShowCloseIcon="true" IsModal="true" >
        <DialogTemplates>
            <Header>@Localizer["ChangePassword"]</Header>
            <Content>
                <EditForm Model="@_changePasswordDto" OnValidSubmit="@ChangePasswordAsync">
                    <FluentValidator />
                    <fieldset>
                        <div class="form-group">
                            <label>@Localizer["OldPassword"]</label>
                            <SfTextBox @bind-Value="@_changePasswordDto.OldPassword" Type="InputType.Password" />
                            <ValidationMessage For="@(() => @_changePasswordDto.OldPassword)" />
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Password"]</label>
                            <SfTextBox @bind-Value="@_changePasswordDto.Password" Type="InputType.Password" />
                            <ValidationMessage For="@(() => @_changePasswordDto.Password)" />
                        </div>
                        <div class="form-group">
                            <label>@Localizer["PasswordConfirm"]</label>
                            <SfTextBox @bind-Value="@_changePasswordDto.PasswordConfirm" Type="InputType.Password" />
                            <ValidationMessage For="@(() => @_changePasswordDto.PasswordConfirm)" />
                        </div>
                         <div class="form-group">
                            <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["ChangePassword"]</SfButton>
                        </div>
                    </fieldset>
                </EditForm>
            </Content>
        </DialogTemplates>
    </SfDialog>
}

@code  {
    private UserInfoDto userInfo;
    private bool _resetPasswordDialogOpen = false;
    private ChangePasswordDto _changePasswordDto = new ChangePasswordDto();

    protected override async Task OnInitializedAsync()
    {
        userInfo = await AuthorizeApi.GetUserInfo();
    }

    public void CloseChangePasswordDialog()
    {
        _resetPasswordDialogOpen = false;
    }
    public void OpenChangePasswordDialog()
    {
        _changePasswordDto = new ChangePasswordDto();
        _changePasswordDto.UserId = userInfo.UserId;
        _resetPasswordDialogOpen = true;
    }

    public async Task ChangePasswordAsync()
    {
        if (_changePasswordDto.Password != _changePasswordDto.PasswordConfirm)
        {
            superService.ShowWarning(@Localizer["PasswordMustMatch"]);
        }
        else
        {
            superService.ShowSpinner();
            var apiResponse = await AuthorizeApi.PostAsJsonAsyncc("api/Account/UserChangePassword", _changePasswordDto);
            superService.HideSpinner();
            if (apiResponse.StatusCode == Status204NoContent || apiResponse.StatusCode == Status200OK)
            {
                superService.ShowSuccess(@Localizer["EditSuccess"], apiResponse.Message);
            }
            else
            {
                superService.ShowError(apiResponse.Message);
            }
            _resetPasswordDialogOpen = false;
        }
    }

    public async Task UpdateUser()
    {
        try
        {
            ApiResponseDto apiResponse = await AuthorizeApi.PutAsJsonAsyncc("/api/account/", userInfo);

            if (apiResponse.StatusCode == Status200OK)
            {
                superService.ShowSuccess(@Localizer["EditSuccess"]);
            }
            else
            {
                superService.ShowSuccess(@Localizer["EditFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(@Localizer["EditFailure"], ex.Message);
        }
    }
}
