﻿@page "/dashboard/{Id:int}"
@attribute [Authorize]

@using Monitoring.Shared.Dto;
@using Newtonsoft.Json

@using Monitoring.Client.Shared.Components.Panels

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons

@inject IJSRuntime JsRuntime
@inject HttpClient Http
@inject ISuperService superService
@inject NavigationManager NavigationManager

<BackButton Url="/dashboards" />

@if (_dashboardDto == null)
{
    <Loading>@Localizer["Loading"]</Loading>
}
else
{
    <div class="dashboard">
        <h1>@_dashboardDto.Name</h1>
        @if (_sensorData == null)
        {
            <Loading>@Localizer["Loading"]</Loading>
        }
        else
        {
            <SfDashboardLayout Columns="4" MediaQuery="max-width: 700px">
                <DashboardLayoutPanels>
                    @for (int i = 0; i < _dashboardDto.Panels.Count; ++i)
                    {
                        int j = i;
                        var panel = _dashboardDto.Panels[j];
                        <DashboardLayoutPanel SizeX="@panel.SizeX" SizeY="@panel.SizeY">
                            <ContentTemplate>
                                @switch (panel.Type)
                                {
                                    case "chart":
                                        <Chart DataSource="@_sensorData[panel.Sensor.Id]" />
                                        break;
                                    case "circularGauge":
                                        var val = (int)@_sensorData[panel.Sensor.Id][0].Data;
                                        <CircularGauge DataSource="@val" Definition="@panel.TypeDefinition" />
                                        break;
                                    default:
                                        <div>Unknown</div>
                                        break;
                                }
                            </ContentTemplate>
                        </DashboardLayoutPanel>
                    }
                </DashboardLayoutPanels>
            </SfDashboardLayout>
        }
    </div>
}

@code  {
    [Parameter]
    public int Id { get; set; }

    private Dictionary<int, List<SensorDataDto>> _sensorData;
    private DashboardDto _dashboardDto;

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/dashboard/" + Id);

        if (apiResponse.StatusCode == Status200OK)
        {
            _dashboardDto = JsonConvert.DeserializeObject<DashboardDto>(apiResponse.Result.ToString());

            var tasks = new Dictionary<int, Task<ApiResponseDto>>();

            foreach (var group in _dashboardDto.Panels)
            {
                if (tasks.ContainsKey(group.Sensor.Id))
                {
                    continue;
                }
                var task = Http.GetFromJsonAsync<ApiResponseDto>("api/data?sensorId=" + group.Sensor.Id);
                tasks[group.Sensor.Id] = task;
            }
            try
            {
                await Task.WhenAll(tasks.Values);
            }
            catch (Exception)
            {
                superService.ShowError("Data retrieval Failed", apiResponse.Message);
                return;
            }
            _sensorData = new Dictionary<int, List<SensorDataDto>>();
            foreach (var t in tasks)
            {
                var res = t.Value.Result;
                var data = JsonConvert.DeserializeObject<List<SensorDataDto>>(res.Result.ToString());
                _sensorData.Add(t.Key, data);
            }
        }
        else
        {
            superService.ShowError("Data retrieval Failed", apiResponse.Message);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/dashboards", forceLoad: false);
    }
}